{% include 'Includes/head.html' %}
  <div class="module">
    <h1>Easy Send SMS</h1>
    
    <form class="form" action="send_sms" method="post" enctype="multipart/form-data" autocomplete="off">
      <div class="alert alert-error"></div>
      <input type="text" placeholder="Number" name="number" required />
      <textarea type="text" placeholder="Text" name="text" required style="height:100px"></textarea>
      <input type="submit" value="Send" name="register" class="btn btn-block btn-primary" />
    </form>
  </div>
{% include 'Includes/footer.html' %}